*{margin: 0, padding:0;}

.a{
    background-color: red;
    transition: all 1s ease 0s;}
.b{
    background-color: green;
    transition: all 1s ease 0s;}
.c{
    background-color: blue;
    transition: all 1s ease 0s;}
.d{
    background-color: gold;
    transition: all 1s ease 0s;}
.e{
    background-color: pink;
    transition: all 1s ease 0s;}

.box{
    background: gray;
    width: 800px;
    height: 300px;
    margin: 500px auto;
}
.ex1{
    position: relative;
    overflow: hidden;
}
.ex1>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex1 .a{
    left: 0;
    top: 0;
}
.ex1 .a{
    left: -100px;
    top: -100px;
}
.ex1 .b{
    1eft: 0;
    bottom:0;
}
.ex1:hover .b{
    left: -100px;
    bottom: -100px;
}
.ex1 .c{
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}
.ex1 .d{
    right: 0;
    top: 0;
}
.ex1:hover .d{
    right: -100px;
    top: -100px;
}
.ex1 .e{
    right: 0;
    bottom: 0;
}
.ex1:hover .e{
    right: -100px;
    bottom: -100px;
}





.ex2{
    position: relative;
    overflow: hidden;}
.ex2>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex2 .a{
    left: -50px;
    top: -50px;
}
.ex2:hover .a{
    left: 0;
    top: 0;
}
.ex2 .b{
    left: -100px;
    bottom: -100px;
}
.ex2:hover .b{
    left: 0;
    bottom: 0;
}
.ex2 .c{
    left: calc(50% - 50px);
    bottom: -100px;
}
.ex2:hover .c{
    left: calc(50% - 50px);
    bottom: calc(50% - 50px);
}
.ex2 .d{
    right: -100px;
    top: -100px;
}
.ex2:hover .d{
    right: 0;
    top: 0;
}
.ex2 .e{
    right: -100px;
    bottom: -100px;
}
.ex2:hover .e{
    right: 0;
    bottom: 0;
}





.ex3{position: relative;}
.ex3>div{
    width: 160px;
    height: 300px;
    position: absolute;
}
.ex3 .a{
    left: 0;
    top: -100%;
}
.ex3 .b{
    left: 20%;
    bottom:-100%;
}
.ex3 .c{
    left: 40%;
    top: -100%;
}
.ex3 .d{
    left: 60%;
    bottom: -100%;
}
.ex3 .e{
    left: 80%;
    top: -100%;
}



.ex4{
    position: relative;
}
.ex4 .a{
    width:300px;
    height:300px;
    position: absolute;
    left:0;
    top:-150px;
}
.ex4 .b{
    position: absolute;
    right:0;
    bottom:0;
    width:100px;
    height:100px;
}
.ex4 .c{
    position: absolute;
    right:0;
    top:0;
    width:100px;
    height:100px;
}
.ex4 .d{
    position: absolute;
    right:0;
    bottom:-150px;
    width:300px;
    height:300px;
}
.ex4 .e{
    width:100px;
    height:100px;
    position: absolute;
    left:calc(50% - 50px);
    top:calc(50% - 50px);
}



.ex5{position: relative;}
.ex5>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex5 .a{
    left: -100px;
    top: -100px;
    z-index: 1;
}
.ex5 .b{
    left: -50px;
    top: -50px;
}
.ex5 .c{
    left: 0;
    top: 0;
    z-index: 1;
}
.ex5 .d{
    left: 50px;
    top: 50px;
}
.ex5 .e{
    left: 100px;
    bottom: 100px;
    z-index: 1;
}



.ex6{position: relative;}
.ex6{
    display: flex;
}
.ex6>div{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.ex6 .a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ex6 .c{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}
.ex6 .b{
    position: relative;
}
.ex6 .d,
.ex6 .e{
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 0;
}
.ex6 .d{left: 0;}
.ex6 .e{right: 0;}

