.box1{
    width: 500px;
    height: 500px;
    background: gray;
    position: relative;         /*현재있는 위치 기준으로 이동할 준비*/
    left: 0px;
    bottom: 100px;
    opacity: 0.5;
}

.box2{
    width: 100px;
    height: 100px;
    background: pink;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 1;
}

.box3{
    background-color: orange;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

.a{                                 /*핑크색 박스 보다 나중에 만든 a태그가 위로 올라오게 됨*/
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 0;
}

.box4{
    background: green;
    position: fixed;
    right: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
}