/* h1{color: red !important;} */
body div h1#b {
    font-size: 50px;
    color: #57c99b;
    background-color: green;
}
div h1#b{color: blue}
h1#b{color: red}
#b{color: blue;}
div h1.a{color: red;}
h1.a{color:blue;}
a{color:red;}
h1{color:red;}
h1{color:blue;color:orange;}