*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;  /* 글씨크기가 부모태그 스타일을 따라감 */
    font-weight: inherit; /*글씨굵기를 부모태그 스타일을 따라감 */
}

a{
    color: inherit;
    text-decoration: inherit;
}

ul,ol{
    list-style: none;
}