.a{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
.a:hover{                      /*a클래스인데 마우스가 올려진 a 클래스*/
    background-color: blue;
    width: 200px;
    font-size: 2rem;
}        
.b{
    width: 100px;
    height: 100px;
    background-color: green;
}
.b:active{
    background-color: #000;
    color: #fff;
}
.box{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
}
.c{
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}
.box .c:hover{                      /*box클래스 안의 c클래스에 마우스를 올리면*/
    font-size: 2rem;
}
.box:hover .c{
    background-color: gold;        /*마우스가 올려진 box클래스 안의 c클래스를 선택*/
}

.d::before{
    border: 1px solid blue;
    content: "추가된 내용1";
    width: 200px;
    height: 200px;
    display: inline-flex;             
    justify-content: center;
    align-items: center;
}
.d::after{
    content: "추가된 내용2";
    border: 1px solid red;
    display: flex;
    width: 100px;
    height: 100px;
}