html{
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.aboreto{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.banner {
    border: 1px solid red;
    height: 599px;
    background: url(../img/main커피.png) no-repeat 50% 81% / cover;
    border-radius: 0px 0px 150px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    text-align: center;
    color:#fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}

.common-frama{
    border: 1px solid red;
    width: 1600px;
    margin: 0 auto;
    padding-bottom: 200px;
}

h2.deco-title{
    border: 1px solid blue;
    font-size: 7.5rem; /*150px*/
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10rem;
    background: url(../img/deco.svg) no-repeat 50% 0%;
    margin-bottom: 2rem;
}

.desc1{
    border: 1px solid pink;
    line-height: 140%; /*행간이 140%*/
    text-align: center; 
    text-transform: uppercase; /*글씨 전부 대문자*/
    margin-bottom: 5rem;
}
.desc1 em{
    color:#770000;
}

body{
    background: url(../img/BACKGROUND.png) repeat-x 0% 690px;
}

.cafe-gal{
    display: flex;
    gap: 1rem; /*사진 가운데 간격*/
    margin-bottom: 2.5rem;
}

.cafe-gal figure{
    /* border: 10px solid violet; */
    flex: 1;
    aspect-ratio: 790/434; /*비율이라 단위는 쓰면 안됨*/
    line-height: 0;
}

.cafe-gal figure img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; /*사진 비율 맞추는 속성*/
    border-radius: 1rem;
}

.common-frama h3{
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1rem;
}

.common-frama h3 em{
    color:#770000;
}

.common-frama h3+p{
    margin-bottom: 0.5rem;
}

.common-frama p strong{
    font-weight: 600;
}