html{
    font-size:20px;
    font-weight: 400;
    font-family: "Pretendard",sans-serif;
}
header{
    border: 1px solid red;
    max-width: 100px;
}

.inner-header{
    border: 1px solid blue;
    height:100px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
} 
.gnb{
    display: flex;
    gap: 3.3rem;
}
.gnb>li{
    border: 1px solid pink;
}
.gnb>li>a{
    display: flex;
    height:100px ;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb ul>li{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: .8rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb ul>li:last-of-type{
    margin-bottom: 0;
}

.gub ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.banner {
    width: 1920px;
    height: 800px;
    margin-top: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    video
}

.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner h1{
    font-weight: 400;
    font-size: 140px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.banner p{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
