.a{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

.b{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.c{
    width: 400px;
    aspect-ratio: 2/1; /*가로 세로 비율이 2:1*/
    object-fit: cover; 
}

figure{
    border: 1px solid green;
    width: 600px;
    aspect-ratio: 1/1;
    /* line-height: 0; */
    font-size: 0;
}

figure .d{
    width: 100%; /*부모만큼의 너비를 맞추겠다는 뜻*/
    height: 100%;
    object-fit: cover; 
}