html{
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;   /*폰트 굵기*/
    font-size: 20px;    /*폰트 사이즈*/
}

.stp1{
    font-family: "아보";
}

.main{
    border: 1px solid red;
    width:1920px ;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
}

.main h1{
    border: 1px solid blue;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    padding-top: 160px;
    margin-bottom: 20px;
}

.title1{
    border: 1px solid pink;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.banner{
    border: 1px solid orange;
    height: 700px;
    background: url(../img/메인img.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.banner h2{
    font-size: 150px;
    line-height: 90%;
    text-transform: uppercase;
    align-items: end;
    color: #fff;
    padding-left: 160px;
}

center h3{
    font-weight: 400;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
    margin-top: 100px;
}

.gallery{
    display: flex;
    gap: 1rem;
}

.gallery figure{
    flex: 1;
    aspect-ratio: 521.33/520;
}

.gallery figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}