html{
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;   
    font-size: 20px;    
}

.abo{                           /*서브타입 폰트 이름 srp1*/
    font-family: "아보";
}

.common-frama{                  /*위에 글씨 박스 크기*/
    border: 1px solid red;
    width: 1600px;
    margin: 0 auto;
}

.title{
    border: 1px solid red;
    padding-top: 8rem;          /*맨 위에 있으니 마진탑 안됨*/
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
    line-height: 100%;          /*행간*/
    text-transform: uppercase; /*글씨 대문자*/
}

.title+p{
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
}

.banner{
    border: 1px solid blue;
    margin-top: 5rem;
    background: url(../img/메인img.jpg) no-repeat 50% 50% / cover;
    height: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5rem;
}

.banner h2{
    border: 1px solid pink;
    width: 1600px;
    color: #fff;
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
}

.title2{
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 1rem;
}

.title2+p{
    line-height: 140%;
    text-align: center;
    margin-bottom: 3.5rem;
}

.gallery{
    display: flex;
    gap: 1rem;
}

.gallery>li{
    flex: 1;                        /*이미지 너비가 각 1:1:1로 설정*/
}

.gallery figure{
    border: 1px solid green;
    aspect-ratio: 1/1;
    line-height: 0;                /*이미지 밑에 border 선이랑 딱 맞게 하기 위한 설정*/
    margin-bottom: 1rem;
}

.gallery figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;            /*이미지 모서리 둥글게 처리*/
}

.gallery h4{
    border: 1px solid gold;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 140%;
    text-transform: capitalize;
}

.gallery h4+p{
    line-height: 140%;
    display: -webkit-box;                   /*박스형태를 줄 바꿈이 되는 형태로 적겠다는 것*/
    -webkit-box-orient: vertical;           /*세로 방향 줄 바꿈 기준*/
    -webkit-line-clamp: 2;                  /*3줄로 글을 줄인다는 것*/
    overflow: hidden;                       /*넘치는 내용 숨기기*/ 
    text-overflow: ellipsis;
}