.a{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 200px auto;
    animation-name: myrotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes myrotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360px);}
}
.a:hover{
    animation-play-state: paused;
}



.b{
    width: 100px;
    height: 100px;
    background-color: gold;
    margin: 200px auto;
    animation: bounce .9s ease 0s infinite normal;
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    45.5%{
        background-color: red;
        border-radius: 50%;
    }
    100%{
        transform: scale(2);
    }
}