html{
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
    font-size: 20px;    
}

.subtypo1{                          
    font-family: "아보";
}

header{
    border-bottom: 2px solid #be0707;
}
.common-frame{
    border: 1px solid orange;
    width: 1600px;
    margin: 0 auto;
}

header .common-frame{
    display: flex;
    justify-content: space-between;
}
.gnb1{
    border: 1px solid tomato;
    display: flex;
}

.gnb1 li{
    border: 1px solid pink;
}


.gnb1 li a{                      
    border: 2px solid green;
    width: 78px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.gnb2{
    border: 1px solid blue;
    display: flex;
}

.gnb2 li{
    border: 1px solid rebeccapurple;
}


.gnb2 li a{                      
    border: 2px solid gold;
    height: 70px;                
    display: flex;
    align-items: center;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;

}

.banner{
    border: 1px solid saddlebrown;
    height: 100vh;
    max-height: 963px;
    background: url(../img/cafe.jpg) no-repeat 50% 50% / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 140px;
}
.bottom h2{
    text-align: center;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 120px;
}
.bottom p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 20px;
}