html{
    font-size:20px;
    font-weight: 400;
    font-family: "Pretendard",sans-serif;
}
header{
    border-bottom: 2px solid #BE0707;
    height:100px;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    color:#fff;
}
.inner-frame{
    width:1600px;
    margin:0 auto;
}
header .inner-frame{
    display: flex;
    justify-content: space-between;
}
header .logo{
}
header nav{
}
.lnb{
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    height:30px;
    align-items: center;
    line-height: 100%;
    font-size: .8rem;
    text-transform: uppercase;
}
.lnb li{
}
.gnb{
    display: flex;
    height:70px;
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb li{
    flex:1;
}
.gnb li a{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width:966px;
}
.banner{
    height:100vh;
    background: url("../img/cafe.jpg") no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin-bottom: 6rem;
}
.banner h2{
    width:1600px;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
}
.c1 h3{
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.c1 p{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.sub-banner{
    height:441px;
}
.sub-banner img{
    width:100%;
    height:100%;
    object-fit: cover;
}